aiohttp
aiosignal
async-timeout
asyncio
attrs
aws-lambda-powertools
aws-xray-sdk
boto3
botocore
certifi
charset-normalizer
fastjsonschema
frozenlist
fyers-apiv3
idna
jmespath
multidict
pyotp
python-dateutil
python-dotenv
requests
s3transfer
six
urllib3
websocket-client
wrapt
yarl
